/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:01969da8a2ebc9756f630625349db782:3d2caacf1e8ce9e9c8c248cc1ead2e4b:7517601f733ab3ea0a88cc540810531c$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(anim_dash.png);}

.anim_dash0000 {width:100px; height:70px; background-position: -0px -0px}
.anim_dash0001 {width:100px; height:70px; background-position: -100px -0px}
.anim_dash0002 {width:100px; height:70px; background-position: -200px -0px}
.anim_dash0003 {width:100px; height:70px; background-position: -300px -0px}
